/* Puhelimille */
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding: 10px;
    }

    .logo-container, .contact-container {
        width: 100%;
        text-align: center; 
        margin-bottom: 10px; 
    }

    nav {
        display: flex; 
        justify-content: center; 
        gap: 20px; 
        width: 90%;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: #000; 
        font-size: 18px; 
        padding: 5px 0;
    }

    main {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: 10px auto; 
        padding: 0%; 
    }

    article, aside {
        width: 100%; 
        padding: 10px;
    }

    article p {
        font-size: 18px; 
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px; 
    }

    .somet a {
        font-size: 24px; 
        padding: 10px;
    }
}

/*Tabletille*/
@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 15px;
    }

    .logo-container, .contact-container {
        width: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        gap: 20px; 
    }

    nav a {
        font-size: 20px; 
    }

    main {
        width: 90%; 
        margin: 0 auto; 
    }

    article p {
        font-size: 20px; 
    }
}
