/* Google fontti */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Oswald:wght@200..700&display=swap');

:root {
    --taustavari: #ababab;
    --aksenttivari: crimson;
}

/*------Yleiset---------*/
body {
    background-color: rgb(32, 32, 32);
    font-family: "Afacad Flux", sans-serif;
    margin: 0%;
}

/*-------Otsikot--------*/
h1, h2, h3 {
    font-family: "Oswald", sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    margin-top: 40px;
    text-align: center;
}

/*-------headeri--------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Logo ja yhteydenotto pysyvät paikoillaan */
    align-items: center;
    font-size: x-large;
    padding: 20px;
    background-color: #1a1a1a;
}

.logo-container {
    flex: 1; /* Tämä vie vasemman alueen */
}

nav {
    display: flex;
    justify-content: center; /* Keskittää linkit */
    align-items: center;
    background-color: var(--taustavari);
    padding: 5px 35px;
    border-radius: 15px;
    /* flex-grow: 2; Varmistaa, että nav vie kaiken tilan */
}

.contact-container {
    flex: 1; 
}

header a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    margin-left: 10px;
    margin-right: 10px;
}

.yhteydenotto {
    background-color: var(--aksenttivari);
    padding: 5px 35px;
    border-radius: 15px;
    float: right;
}

/*-------Main--------*/
.kuvasamista img {
    width: 100%;
    margin: 0%;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

article, aside {
    width: 50%;
}

article p {
    width: 80%;
    margin: auto;
    font-size: 22px;
    margin-bottom: 10px;
}

article {
    background-color: var(--taustavari);
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 5px;
}

.linkki {
    margin-top: 50px;
}

figure {
    margin: 0%;
}

.alalaatikko
{
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--taustavari);
        margin-top: 15px;
        width: 80%;;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
    
}

.alempilaatikko
{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: var(--taustavari);
        font-size: 22px;
        width: 80%;
        margin: auto;
    }

.alempilaatikko p
{
    padding-left: 10%;
}
/*-------footer--------*/
footer {
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: 100px;
}

footer p {
    color: azure;
}

.somet a {
    font-size: 32px;
    color: var(--taustavari);
    padding: 15px;
}

.somet
{
    margin-top: 15px;
}

/*-------kuvat-------*/
.logo img {
    width: 64px;
    height: 64px;
    border-radius: 15px;
}

